@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --primary-color: #F472B6;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}


body {
    
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;
    max-width: 95%;
}

hr {
    margin: 2rem 0rem;
}

/* spaces */




.container {
    padding: 0rem 1rem;
    
}

.container-center {
    max-width: 900px;
    margin: auto;
   
    width: 100%;
}

/** projects **/
.showcase-list {
    /* padding: 2rem; */
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
  }
  .showcase-list h1 {
    margin: 0.5rem;
  }
  
  .showcase-list p {
    padding-bottom: 1rem;
  }

/* links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

.link-primary {
    max-width: 140px;
  padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    margin: 1rem auto;
    color: white;
}

.link-secondary {
    max-width: 140px;
    margin: 1rem;
    padding: 0.6rem 1.2rem;
    color: var(--primary-color);
    border-radius: 2rem;
    border: 1px solid var(--primary-color);

}

/* lists */

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    display: block;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.3rem;      
}

.navigation .nav-pills {
    text-align: right;
    margin: 0.6rem 1rem;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.star {
    padding: 2rem;
    padding-top: 5rem;
}

.star .star-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.star .star-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.star .star-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */

.section {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
    text-align: center;
    display: block;
}

.section h1 {
    text-align: center;
}

.ow {
background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding:2rem 0rem;
    text-align: center;
    color:white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}




/* blog1 */

.divh1,.div2{
    display: block;
    color:#4C1D95;
    margin-bottom: 0.4375rem;
    margin-left: 0rem;
    font-family: 'Merriweather','Georgia',serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-size: 1.875rem;
    line-height: 1.1;
    
}

.p1{
    margin-top: 0.2rem; 
    margin-left:1rem;
    margin-bottom: 0.4375rem;
    font-family: 'Merriweather','Georgia', serif;
    font-weight: 200;
    font-size: 1rem;
   

}
.cont {
    padding: 0rem 1rem;
    padding-bottom: 0rem;
    /* display: block; */
}

.cont-center {
    max-width: 650px;
    margin: auto;
}

.com {
    padding: 2rem;
    padding-top: 2rem;
    padding-left: 0rem;
}

.com .com-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.para{
    font-family: 'Merriweather','Georgia', serif;
    font-weight: 200;
    font-size: 1.1rem;
    font-style: normal;
    word-wrap: break-word;
    font-kerning: normal;
    margin-bottom: 1.75rem;
    font: 100%/1.75 'Merriweather','Georgia',serif;

    
}

/* blog2 */
.blog2 {
    padding: 2rem;
    padding-top: 5rem;
}

.blog2 .blog2-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.blog2 .blog2-heading {
    text-align: center;
    padding-top: 1rem;
}

/* blogs */
.showcase-blog {
    padding-bottom: 6rem;
  }
  
  @media (max-width: 900px) {
    body {
      max-width: 95%;
      width: 100%;
    }
  
    .list-item-inline {
      display: inline;
      padding: 0rem;
    }
  
    .container-center {
      width: auto;
    }
  
    .link-primary {
      display: block;
    }
  }